<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097628050085-pd290hv6mtu6rg0u27k362pqu030f715.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097628050085-pd290hv6mtu6rg0u27k362pqu030f715</string>
	<key>API_KEY</key>
	<string>AIzaSyABhJYmFMDioUP8HPKC-9GPj89Q2aZXrlk</string>
	<key>GCM_SENDER_ID</key>
	<string>1097628050085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseOfflineUploadDemo</string>
	<key>PROJECT_ID</key>
	<string>offlineuploaddemo</string>
	<key>STORAGE_BUCKET</key>
	<string>offlineuploaddemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097628050085:ios:5d67199188182eb1fee34c</string>
</dict>
</plist>